/*
    Kupranugario - violetLine
    Kebabo - violet_line
    xxx - violet-line
 */

 /*
    http://learnlayout.com/display.html
    Inline vs block vs inline-block

    Block - turi visas CSS savybes,
    prasideda is naujos eilutes,
    kitas elementas po block'o irgi is naujos eilutes


    Inline - Neveikia savybes: margin-top/margin-bottom, width/height, float.
    Neprasideda is naujos eilutes, ir kiti elementai toje pacioje eiluteje tesiasi.


    Inline-block - Neprasideda is naujos ir kiti elementai salia, (kaip Inline),
    Taciau turi visas CSS savybes kaip margin, width/height, float.
*/

 body {
    /* Margin yra atitraukimai tarp elementu */
    /* TOP RIGHT BOTTOM LEFT */
    /* margin: 0 20px 0 20px; */
    /* margin: 0 20px; */

    margin: 0;
    /*
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
     */
 }

.violet-line {
    background-color: tomato;
    height: 50px;

    transition: 1s ease-in-out;
}

.violet-line:hover {
    height: 100px;
    background-color: orange;
}

.meniu {

}

/* Meniu klaseje esanciam h1 priskiriami stiliai */
.meniu h1,
.meniu ul {
    display: inline-block;

    width: 45%;
}

.meniu h1 {
    font-size: 32px;
    color: black;

    margin-left: 50px;

    /* width: 30%; */
}

.meniu ul {
    list-style: none;
    text-align: right;
    /* Align: left(default)/center/right */
    /* width: 60%; */
}

.meniu ul li {
    display: inline;
    margin: 0 5px;
}

.meniu ul li a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

    /* Transition time and timing function */
    transition: 1s ease-in;
}

/* 
    Pseudo klases
    element:hover
*/
.meniu ul li a:hover {
    color: red;
}

.image-block {
    height: 400px;
    background-color: grey;
    overflow: hidden;
}

/* .image-block img {
    width: 100%;
} */

/* 
    Image fix
*/

/* 1. budas */
/* .image-block {
    background-image: url('Krabas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

/* 2. budas */
.image-block img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
}


li:first-child {
    background-color: yellowgreen;
}

li:nth-child(even) {
    background-color: orange;
}

li:last-child {
    background-color: yellowgreen;
}

